<header class="header">
  <div class="container">
    <div class="logo-opcoes">
      <div class="nome-restaurante">
        FoodFlow
      </div>
      <div class="opcoes">
        <ul class="nav-list">
          <li>Home</li>
          <li>Cardápio</li>
          <li>Reservas</li>
          <li>Sobre</li>
        </ul>
      </div>
    </div>
    <div class="conta">
      <button class="entrar" (click)="onAbrirLogin()">
        Entrar
      </button>
      <div class="criar-conta">
        Criar Conta
      </div>
    </div>
  </div>
</header>