<footer class="footer">
    <div class="container" style="display: flex; gap: 200px;">
        <div class="sobre-foodflow">
            <h1>FoodFlow</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus a ex sed suscipit. Mauris ante
                risus, feugiat a lobortis nec, congue quis eros.</p>
            <div>
                <ul class="lista-sociais">
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li style="font-size: 20px;">
                        <i class="fa-brands fa-facebook-f"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div style="display: flex; gap: 100px;">
            <div class="horarios">
                <h1>
                    Horário de Funcionamento
                </h1>
                <ul>
                    <li><strong>Segunda à Quinta:</strong> 12h às 15h / 19h às 23h </li>
                    <li><strong>Sexta:</strong> 12h às 16h / 19h às 23h </li>
                    <li><strong>Sábado:</strong> 12h às 17h / 19h às 23h </li>
                    <li><strong>Domingo:</strong> 12h às 17h / 19h às 22h </li>
                </ul>
            </div>
            <div class="contato">
                <h1>Contato</h1>
                <ul>
                    <li>1234 (4th andar), 103 Plano Diretor Sul - Palmas/TO</li>
                    <li>suport@foodflow.com</li>
                    <li>+55 63 98499-0909</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="bottom-footer">
    <div class="container" style="display: flex; justify-content: space-between; padding: 20px 0;">
        <div>Website desenvolvido para disciplina de Tópicos 3.</div>
        <div>FoodFlow © Todos os direito reservados.</div>
    </div>
</div>