<div class="modal-backdrop" (click)="fecharModal()">
  <div class="modal-content-cardapio" (click)="$event.stopPropagation()">

    <div class="modal-header" style="display: flex; padding-bottom: 10px;">
      <h2 class="modal-title">Nosso Cardápio</h2>
      <button class="close-button" (click)="fecharModal()" aria-label="Fechar">&times;</button>
    </div>

    <div class="modal-body-cardapio">
      <div class="opcoes-cardapio">
        <div class="opcao" [class.opcao-selecionada]="periodoSelecionado === 'ALMOCO'" (click)="selecionarPeriodo('ALMOCO')">
          Almoço
        </div>
        <div class="opcao" [class.opcao-selecionada]="periodoSelecionado === 'JANTAR'" (click)="selecionarPeriodo('JANTAR')">
          Jantar
        </div>
      </div>

      <div class="conteudo-cardapio">
        <div *ngIf="carregando" class="loading">
          Carregando pratos...
        </div>

        <div *ngIf="!carregando">
          <app-grid-produtos 
            [produtos]="produtosExibidos"
            (adicionar)="onAdicionarAoCarrinho($event)"
            (verDetalhes)="onVerDetalhes($event)">
          </app-grid-produtos>
        </div>
      </div>
    </div>
  </div>
</div>